{{ "<!-- portfolio -->" | safeHTML }}
<section id="two">
	{{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	<div class="row">
		{{ range .Site.Params.portfolio.gallery }}
		<article class="6u 12u$(xsmall) work-item">
			
			{{ if isset . "link" }}
				{{ if isset . "remote_thumb" }}
					<a href="{{ $.Site.BaseURL }}portfolio/{{ .link }}" class="image fit thumb"><img src="{{ .remote_thumb }}" alt="" /></a>
				{{ else }}
					<a href="{{ $.Site.BaseURL }}portfolio/{{ .link }}" class="image fit thumb"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
				{{ end }}
			{{ else }}
				<a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb js-image"><img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
			{{ end }}

			<h3>{{ .title | markdownify }}</h3>
			<p>{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
